{% extends 'layout.html' %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/digits.css') }}">
{% endblock %}

{% block title %}
    Digit
{% endblock %}

{% block main %}
    <div class="container justify-content-center text-center">
        <h1>Digit Recognition</h1>
        <p>Use the buttons below to draw a single digit on the canvas.</p>
        <canvas id="canvas" ></canvas>
        <br>
        <button id="clear">Clear</button>
        <button id="predict">Predict</button>
        <div id="result"></div>
    </div>

    <script src="{{ url_for('static', filename='scripts/number_ai.js') }}"></script>

{% endblock %}